<h1><%= @movie[:title] %></h1>
<h2>Movie Details</h2>
<h3>Vote average: <%= @movie[:vote_average] %></h3>
<h3>Genre: <%= @movie[:genres][0][:name] %></h3>
<h3>Runtime: <%= @movie[:runtime] %></h3>
<h3>Overview: <%= @movie[:overview] %></h3>
