<h1>Welcome <%= current_user.email %></h1>
<br>

<%= button_to "Discover Movies", '/discover', method: :get %>

<h2>Friends</h2>

<%= form_tag "/friendships" %>
  <%= label_tag "Friend's email:" %>
  <%= text_field_tag :email %>
  <br>
<%= submit_tag "Add Friend" %>
<% if current_user.friends == [] %>
  <h3>You have no friends!</h3>
<% else %>
  <h2>My friends:</h2>
  <% current_user.friends.each do |friend| %>
    <ul>
      <li><h3><%= friend.email %></h3></li>
    </ul>
  <% end %>
<% end %>

<h2>Viewing Parties: </h2>
<section>
<% @movies.each do |film| %>
  <% @parties.each do |party| %>
    <% if film.id == party.party_id %>
    <ul>
      <h1>Movie: <%= film.movie %></h1>
      <li>Party Length: <%= film.duration %></li>
      <li>Date: <%= film.party_date %></li>
      <li>Start Time: <%= film.start_time %></li>
      <li>Status: <%= party.status %></li>
    </ul>
    <% end %>
  <% end %>
<% end %>
</section>
